{{#> layout title='Login' }}
<main>
  <section class="blog-form">
    <form action="/login" method="post" class="form-container">
      <h1 class="section-title">Login</h1>

      <div class="form-field">
        <label for="email" class="form-label">Email</label>
        <input id="email" name="email" class="form-input" type="email" placeholder="example@mail.com" required />
      </div>
      <div class="form-field">
        <label for="password" class="form-label">Password</label>
        <input id="password" name="password" class="form-input" type="password" placeholder="password (6 character)"
          required />
      </div>

      <div class="button-group">
        <button type="submit">Login</button>
      </div>
    </form>
  </section>
</main>

{{!--
<script src="assets/js/blog.js"></script> --}}

{{/layout}}