{{#> layout title='Add Blog' user=user }}
<main>
  <section class="blog-form">
    <form action="/blog" method="post" class="form-container" enctype="multipart/form-data">
      <h1 class="section-title">Add Blog</h1>

      <div class="form-field">
        <label for="title" class="form-label">Title</label>
        <input id="title" name="title" class="form-input" type="text" placeholder="enter title here..." required />
      </div>

      <div class="form-field">
        <label class="form-label" for="content">Content</label>
        <textarea id="content" name="content" class="form-input" rows="8" required></textarea>
      </div>

      <div class="form-field">
        <label for="image" class="form-label">Upload Image</label>
        <input id="image" name="image" class="form-control" type="file">
      </div>

      {{!-- image preview --}}
      <div class="">
        <img id="preview" src="#" alt="image preview" class="img-thumbnail d-none" style="max-height: 300px;">
      </div>

      <div class="button-group">
        <button type="submit">Post Blog</button>
      </div>
    </form>
  </section>
</main>

<script src="/assets/js/image-preview.js"></script>

{{/layout}}