{{#> layout title='Blog Detail' }}
<main>
  <section class="blog-container">
    <div class="blog-detail-container">
      <h1 class="h1">{{data.title}}</h1>
      <p>{{formatDateToWIB data.createdAt}} | Karunia Leo Gultom</p>
      <div class="blog-detail-content">
        <img src="{{data.image}}" class="blog-detail-image" alt="">
        <p>{{data.content}}</p>
      </div>
    </div>
  </section>
</main>

{{!--
<script src="assets/js/blog.js"></script> --}}

{{/layout}}