{{#> layout title='Edit Blog' }}
<main>
  <section class="blog-form">
    <form action="/blog-update/{{data.id}}?_method=PATCH" method="POST" class="form-container">
      <h1 class="section-title">Edit Blog</h1>

      <div class="form-field">
        <label for="title" class="form-label">Title</label>
        <input id="title" name="title" class="form-input" type="text" placeholder="enter title here..."
          value="{{data.title}}" required />
      </div>

      <div class="form-field">
        <label class="form-label" for="content">Content</label>
        <textarea id="content" name="content" class="form-input" rows="8" required>{{data.content}}</textarea>
      </div>

      <div class="form-field">
        <label for="image" class="form-label">Upload Image</label>
        <div class="input-blog-image-group">
          <label for="image">
            <p>Attach File</p>
            <img src="/assets/img/file.png" />
          </label>
          <input id="image" name="image" class="form-input" type="file" placeholder="title" hidden />
        </div>
      </div>

      <div class="button-group">
        <button type="submit">Save Blog</button>
      </div>
    </form>
  </section>
</main>

{{!--
<script src="assets/js/blog.js"></script> --}}

{{/layout}}