{{#> layout title='Home' user=user }}

{{#if messages.success}}
<div class="alert alert-success mt-3 ml-3 mr-3" role="alert">
  {{messages.success}}
</div>
{{/if}}

<main class="home-page">
  <!-- Card Component -->
  <section class="profile-section">
    <div id="profileCard">
      <img src="assets/img/coding.jpg" style="width: 100%; border-radius: 15px" />

      <h1>Budi Raharja</h1>

      <p class="paragraph-1" style="color: darkcyan; margin-bottom: 30px">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
        dolorum delectus rerum quasi fuga dignissimos perspiciatis
        laudantium obcaecati qui.
      </p>

      <p class="paragraph-2" style="color: darkcyan; margin-bottom: 30px">
        Ipsum dolore officia eius sed quae tempora, nam cumque in quod
        voluptates explicabo dicta aliquid repudiandae optio adipisci. Fuga,
        provident animi.
      </p>

      <table style="
              border: 1.5px solid #a8a8a8;
              box-shadow: 0 0 4px #a8a8a8;

              border-collapse: collapse;
              width: 100%;
            ">
        <tr>
          <th style="border: 1px solid #a8a8a8">Experience</th>
          <th style="border: 1px solid #a8a8a8">Year</th>
        </tr>
        <tr style="text-align: center">
          <td style="border: 1px solid #a8a8a8">Personal Web</td>
          <td style="border: 1px solid #a8a8a8">2024</td>
        </tr>
        <tr style="text-align: center">
          <td style="border: 1px solid #a8a8a8">Mobile Application</td>
          <td style="border: 1px solid #a8a8a8">2024</td>
        </tr>
      </table>
    </div>
  </section>

  <section class="about-section" style="background-color: white; margin: 100px 0px">
    <h2>About Me</h2>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, nobis
      eius, voluptates at voluptatem officiis veritatis accusamus esse,
      quasi aut recusandae. Assumenda adipisci quidem doloremque reiciendis
      tempore delectus, iste dolorum nobis sed architecto non mollitia est
      expedita tenetur voluptate enim vitae voluptas doloribus neque rem
      corporis laboriosam. Ex excepturi, temporibus consequuntur eos nihil
      recusandae aspernatur libero non, consequatur odit optio facere a
      distinctio aliquid. Velit, maxime ab voluptates aspernatur a quae
      autem cumque voluptas illum!
    </p>

    <div style="width: 200px">
      <h2 style="
              background: linear-gradient(to right, red, blue);
              background-clip: text;
              color: transparent;
            ">
        My skill
      </h2>
    </div>
  </section>
</main>

<script src="assets/js/navbar.js"></script>
<script src="assets/js/button.js"></script>
{{/layout}}